.button {
    border: 2px solid #9d8abf;
    background-color: unset;
    color: #9d8abf;
    font-size: 16px;
    text-transform: uppercase;
    padding: .5rem 1rem;
    font-weight: 600;
    &:hover {
        color: white;
        background-color: #9d8abf;
    }
    &--brave {
        margin-bottom: 1rem;
    }
    &--randomize {
        margin-bottom: 1rem;
    }
}