.champion-list {
    flex: 0 1 30%;
    &__button-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        button {
            flex: 0 1 49%;
        }
    }
}
.champion__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .champion {
        flex: 1 0 16%;
        max-width: 120px;
        max-height: 120px;
        img {
            height: auto;
            width: 100%;
        }
    }
}