.input {
    border: 2px solid var(--font-color);
    background: var(--bg-color);
    padding: .5rem .75rem;
    border-radius: 7px;
    color: var(--font-color);
    &--player {
        margin: .25rem;
    }
    &::placeholder {
        color: var(--font-color);
    }
    &--discord {
        box-sizing: border-box;
        border-radius: 0;
        border-right: none;
    }
}