.nav {
    background-color: var(--nav-color);
    .l-constrain {
        display: flex;
        justify-content: space-between;
    }
    .nav__links, .nav__social ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        li {
            padding: 0 .5rem;
        }
        a {
            text-decoration: none;
            color: var(--nav-font-color);
        }
    }
    .nav__social {
        .fa {
            font-size: 27px;
        }
    }
}