.team-generator {
    &__container {
        display: flex;
    }
    &__input {
        flex-basis: 50%;
    }
    .team-input-container {
        flex-basis: 50%;
        display: flex;
        justify-content: space-evenly;
    }
    .player-input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0;
    }
    &__output {
        flex-basis: 50%;
        justify-content: space-evenly;
        .output__teams {
            display: flex;
            flex-direction: row;
        }
        .team-container {
            flex: 1 0 50%;
        }
    }
}